{%extends 'Home.html' %}
{% load static %}
{% block content %}

<div style="width: 750px; float: left; vertical-align: top;">
                    <fieldset style="min-height: 760px;">

    <div align="center">


        <br />
        <br />
        <div>
          {% for p in files %}
           <object data="{{p.instruction}}" type="application/pdf" width="100%" height="670px">
                <p>
                    Error: you don't have a PDF plugin for this browser. But..
                    <br />


  you can <a href="{{ p.instruction_url|default_if_none:'#' }}" click here to download the PDF file.</a></p>

{% endfor %}

            </object>
        </div>
    </div>

                    </fieldset>
                </div>
            {% endblock %}
